{% extends 'registration/account/base_account.html' %}
{% load staticfiles %}
{% block account_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mon compte</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mes alertes</li>
{% endblock %}
{% block alert_message %}
    {% if alert_error == 'email_error' %}
        <br>
        <div class="alert alert-danger text-center"> Email invalide</div>
    {% elif alert_error == 'limit_error' %}
        <br>
        <div class="alert alert-danger text-center"> Vous ne pouvez pas avoir plus de trois alertes</div>
    {% elif alert_error == 'same_alert' %}
        <br>
        <div class="alert alert-warning text-center"> La même alerte existe déja</div>
    {% elif alert_success == 'alert_success' %}
        <br>
        <div class="alert alert-success text-center">Votre alerte a été créée avec succès</div>
    {% endif %}

    {% if deletion %}
        <div class="alert alert-success text-center">Alerte supprimée</div>
    {% endif %}
{% endblock %}
{% block account_content %}
    <!-- My Alerts -->
    <section class="my-alerts">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="widget my-profile margin-bottom-none">
                        <div class="widget-header">
                            <h1>Mes Alertes</h1>
                        </div>
                        <div class="widget-body">
                            <h3>Que sont les alertes publicitaires?</h3>
                            <p>Une alerte publicitaire est un service d'envoi automatisé de courriers electroniques à
                                partir
                                de vos demandes d'alertes sur la categorie d'annonces choisie par l'utilisateur, à une
                                fréquence régulière.
                            </p>
                            <h3>Comment définir une alerte publicitaire?</h3>
                            <p>
                                Il suffit d'entrer le mail par lequel vous voulez recevoir les alertes, de choisir la
                                fréquence et la catégorie
                                qui vous interesse. Selon la catégorie et la frequence choisie, vous recevrez des
                                notifications pour les annonces correspondantes.<br>
                                Pour modifier il suffit juste de rentre le même mail.
                            </p>
                            <p>&nbsp;</p>
                            <form method="POST" class="row" action="{% url 'ads:my_alert_confirmation' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Adresse Email <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input name="email" class="form-control border-form" type="email"
                                               value="{{ user.alerts.last.email }}"
                                               placeholder="example@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Freqquence <span
                                            class="required">*</span></label>
                                    <div class="col-sm-9">
                                        {% if user.alerts.last.frequency == 'D' %}
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" checked="" name="radioInline" value="D"
                                                       id="inlineRadio1">
                                                <label for="inlineRadio1"> Une fois par jour </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="W" id="inlineRadio2">
                                                <label for="inlineRadio2"> Une fois par semaine </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="M" id="inlineRadio3">
                                                <label for="inlineRadio3"> Une fois par mois </label>
                                            </div>
                                        {% elif user.alerts.last.frequency == 'W' %}
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="D"
                                                       id="inlineRadio1">
                                                <label for="inlineRadio1"> Une fois par jour </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" checked="" name="radioInline" value="W"
                                                       id="inlineRadio2">
                                                <label for="inlineRadio2"> Une fois par semaine </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="M" id="inlineRadio3">
                                                <label for="inlineRadio3"> Une fois par mois </label>
                                            </div>
                                        {% elif user.alerts.last.frequency == 'M' %}
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="D"
                                                       id="inlineRadio1">
                                                <label for="inlineRadio1"> Une fois par jour </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="W" id="inlineRadio2">
                                                <label for="inlineRadio2"> Une fois par semaine </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" checked="" name="radioInline" value="M"
                                                       id="inlineRadio3">
                                                <label for="inlineRadio3"> Une fois par mois </label>
                                            </div>
                                        {% else %}
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="D"
                                                       id="inlineRadio1">
                                                <label for="inlineRadio1"> Une fois par jour </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="W" id="inlineRadio2">
                                                <label for="inlineRadio2"> Une fois par semaine </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" name="radioInline" value="M" id="inlineRadio3">
                                                <label for="inlineRadio3"> Une fois par mois </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Choisir une Categorie <span
                                            class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <select name="category" class="form-control border-form">
                                            {% for category in all_categories %}
                                                {% if category == user.alerts.last.category %}
                                                    <option selected
                                                            value="{{ category.id }}">{{ category.name }} </option>
                                                {% else %}
                                                    <option value="{{ category.id }}">{{ category.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Valider
                                        </button>
                                        <a href="{% url 'settings' %}" class="btn btn-danger"><i
                                                class="fa fa-close"></i> Annuler</a>
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Fréquence</th>
                                    <th>Catégorie</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for my_alert in user.alerts.all %}
                                    <tr>
                                        <td>{{ my_alert.email }}</td>
                                        {% if my_alert.frequency == 'D' %}
                                            <td>Jour</td>
                                        {% elif my_alert.frequency == 'W' %}
                                            <td>Semaine</td>
                                        {% else %}
                                            <td>Mois</td>
                                        {% endif %}
                                        <td>{{ my_alert.category.name }}</td>
                                        <td><a href="{% url 'ads:my_alerts' %}?to_delete={{ my_alert.id }}"
                                               class="btn btn-danger delete_alert">Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End My alerts -->
{% endblock %}
{% block javascripts %}
    <script>

    </script>

{% endblock %}