{% extends "registration/base_authentication.html" %}

{% block authentication_title %}
Réinitialiser mot de passe
{% endblock authentication_title %}

{% block authentication_pagination %}
<li><a href="{% url 'index' %}">Accueil</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li>Réinitialiser mot de passe</li>
{% endblock authentication_pagination %}


{% block authentication_content %}


{% if error == True %}
<div class="alert alert-danger text-center">Mot de passe trop court ou les deux mots de passe ne
    correspondent pas
</div>
{% endif %}


<!-- Login -->
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-panel widget">
                    <div class="login-body">
                        <form method="POST" action="{% url 'password_reset_verification' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label">Nouveau mot de passe <span class="required">*</span></label>
                                <input type="password" name='password_1' placeholder="mot de passe" class="form-control">
                                <input type="hidden" name='user_id' value="{{user_id}}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mot de passe <span class="required">*</span></label>
                                <input type="password" name='password_2' placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-lg btn-primary">Modifier</button>
                            </div>
                        </form>
                    </div>
                    <div class="login-with-sites">
                        <!--
                        <button class="btn-facebook login-icons btn-lg btn-block"> <i class="fa fa-facebook"></i> Se connecter
                            avec Facebook</button>
                        <button class="btn-google login-icons btn-lg btn-block"> <i class="fa fa-google"></i> Se connecter avec Google
                        </button>
                        -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login -->
{% endblock authentication_content %}