{% extends 'registration/base_authentication.html' %}
{% load staticfiles %}
{% block authentication_title %}
Nous Contacter
{% endblock authentication_title %}
{% block authentication_pagination %}
<li><a href="{% url 'index' %}">Accueil</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li>Contact</li>
{% endblock authentication_pagination %}
{% block authentication_content %}

{% if contact == 'message_error' %}
<div class="alert alert-warning text-center">Le contenu du message ne doit pas etre vide.</div>
{% elif contact == 'success' %}
<div class="alert alert-success text-center">Merci de nous avoir contacter. L'équipe va vite analyser votre message.</div>
{% elif contact == 'name_message_error' %}
<div class="alert alert-warning text-center">Le nom et le message sont obligatoires.</div>
{% elif contact == 'email_error' %}
<div class="alert alert-warning text-center">L'email ne semble pas valide.</div>
{% endif %}
<div class="alert alert-warning text-center" id="submit_error">
    Veuillez remplir les champs correctement svp
</div>

<!-- Contact Us -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="widget top-space margin-bottom-none">
                    <div class="widget-header">
                        <h1>Contactez Nous</h1>
                    </div>
                    <form method="POST" action="{% url 'contact_verification' %}" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                {% if not user.is_authenticated %}
                                <div class="col-md-6">Votre Nom<span class="required">*</span></label>
                                    <input type="text"  id="form_name"  name="name" value="{{list_values.name}}" placeholder="Entrer Nom" class="form-control"
                                        maxlength="100">
                                    <br><span class="text-danger" id="name_error_msg"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Votre adresse mail <span class="required">*</span></label>
                                    <input type="email" id="form_email" name="email" value="{{list_values.email}}" placeholder="Entrer Adresse mail" class="form-control">
                                    <br><span class="text-danger" id="email_error_msg"></span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sujet</label>
                            <input type="text" name="subject" value="{{list_values.subject}}"" placeholder="Enter Sujet" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Message <span class="required">*</span></label>
                            <textarea value="{{list_values.message}}" id="form_message" placeholder="Entrer Message" name="message" class="form-control" rows="3"></textarea>
                            <br><span class="text-danger" id="message_error_msg"></span>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn btn-primary" value="Envoyer Message">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget margin-bottom-none">
                    <div class="widget-header">
                        <h1>Entrer en contact avec nous</h1>
                    </div>
                    <p>L'objectif de <strong>Yërël</strong> est de vous faciliter la vie en mettant en place une application avec
                        un système de navigation simple et moderne.<br>
                        Nous sommes ouvert à toute suggestion ou critique et répondrons à vos messages sous
                        24h si nécessaire.
                    </p>
                    <hr>
                    <h4 class="heading-primary"><strong>Yërël</strong></h4>
                    <ul class="list list-icons list-icons-style-3 mt-xlg">
                        <li><i class="fa fa-fw fa-map-marker"></i> <strong>Address:</strong> Mermoz Sacré-Coeur, Dakar
                            , Sénégal</li>
                        <li><i class="fa fa-fw fa-phone"></i> <strong>Numéro:</strong> 11-123-45-67</li>
                        <li><i class="fa fa-fw fa-envelope"></i> <strong>Email:</strong> <a href="mailto:contact@yerel.org">contact@yerel.com</a></li>
                    </ul>
                    <hr>
                    <h4 class="heading-primary"><strong>Heures</strong> Ouvertes</h4>
                    <ul class="list list-icons list-dark mt-xlg">
                        <li><i class="fa fa-fw fa-clock-o"></i> Lundi - Vendredi - 9h à 17</li>
                        <li><i class="fa fa-fw fa-clock-o"></i> Samedi - 9h à 12h</li>
                        <li><i class="fa fa-fw fa-clock-o"></i> Dimanche - Fermé</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us -->
{% endblock authentication_content %}
{% block javascripts %}
    <script src="{% static 'internals/js/registration/signup.js' %}"></script>
    <script src="{% static 'internals/js/contact_us.js' %}"></script>
{% endblock %}