{% extends 'registration/base_authentication.html' %}
{% load staticfiles %}
{% block authentication_title %}
    Questions fréquentes
{% endblock authentication_title %}
{% block authentication_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>FAQ</li>
{% endblock authentication_pagination %}
{% block authentication_content %}
    <!-- FAQ -->
    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="widget margin-bottom-none">
                        <div class="panel-group margin-bottom-none" id="faqAccordion">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse"
                                     data-parent="#faqAccordion" data-target="#question0" aria-expanded="true">
                                    <h4 class="panel-title">
                                        <a href="#" class="ing">Q: Pourquoi pour certains profils ou annonces on voit une image avec un point d'interrogation?
                                        </a>
                                    </h4>
                                </div>
                                <div id="question0" class="panel-collapse collapse in" style="" aria-expanded="true">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Réponse</span></h5>
                                        <p>Quand l'utilisateur ne fournit pas d'images pour son profil ou son annonce, on met par défaut une image
                                            avec un point d'interrogation signifiant "absence d'image".
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                                    <h4 class="panel-title">
                                        <a href="#" class="ing">Q: Qu'est-ce qui se passe quand je désactive une de mes annonces? </a>
                                    </h4>
                                </div>
                                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Réponse</span></h5>
                                        <p>La désactivation d'une annonce rend cette dernière non visible par les autres utilisateurs.
                                        Vous serez le(la) seul(e) à pouvoir la consulter.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                                    <h4 class="panel-title">
                                        <a href="#" class="ing">Q: Qu'est-ce qui se passe quand je supprime mon compte? </a>
                                    </h4>
                                </div>
                                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Réponse</span></h5>
                                        <p>Quand vous décidez de supprimer un compte, il n'est pas directement supprimé dans notre base de données.
                                        Un délai de 10 jours vous est donné pour le réactiver en nous envoyant un message. Au dela de cette date,
                                        le compte est définitement supprimé.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                                    <h4 class="panel-title">
                                        <a href="#" class="ing">Q: Faites vous des PUB? </a>
                                    </h4>
                                </div>
                                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Réponse</span></h5>
                                        <p>Oui, nous faisons des publicités. Il suffit de nous <a
                                                href="{% url 'contact' %}">contacter</a> pour plus de détails.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- End FAQ -->
{% endblock %}