{% extends "base.html" %}
{% load staticfiles trending_ads timesince_ads %}
{% load i18n ads_categories %}
{% block content %}
    <!-- Search Box -->
    <section class="search-box">
        <div class="container">
            <div class="row">
                <div class="main-search-box text-center">
                    <h1 class="intro-title">Publier ou Rechercher quelque chose en ligne</h1>
                    <p class="sub-title">Publiez et recherchez tout, des voitures d'occasion aux téléphones portables et
                        ordinateurs,
                        ou recherchez des biens, des emplois et plus encore</p>
                    {% include 'static_content/search_form.html' %}
                </div>
                <div class="top-categories margin-bottom-none">
                    <h4>Categories les plus populaires</h4>
                    {% popular_subcategories as populars %}
                    {% for p in populars %}
                        <a href="{% url 'ads:categories_grid' %}?category={{ p.sup_category.id }}&subcategories={{ p.id }}">
                        <i class=""></i>{{ p.name }}
                    </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Search Box -->

    <!-- Featured Products -->
    <section class="featured-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-section-header">
                        <h1>Tendances <a href="{% url 'ads:categories' %}" class="btn btn-md btn-primary pull-right">Voir
                            plus d'annonces<b>{{ ads_count }}</b> <i class="fa fa-arrow-right"></i></a></h1>
                    </div>
                    <div id="owl-carousel-featured" class="owl-carousel owl-carousel-featured">

                        {% trending_ads_list as trending_ads %}
                        {% for ad in trending_ads %}
                            <div class="item">
                                <div class="item-ads-grid {{ ad.subcategory.sup_category.icon_ads }}">
                                    {% if ad.views_number >= 100 %}
                                        <div class="item-badge-grid featured-ads">
                                            <a href="#">TOP</a>
                                        </div>
                                    {% elif ad.ad_user.user.account.is_active and ad.ad_user.user.account.type in "AP" %}
                                        <div class="item-badge-grid btn-primary">
                                            <a href="#">Annonce premium</a>
                                        </div>

                                    {% elif ad.is_featured and ad.views_number >= 10 %}
                                        <div class="item-badge-grid premium-ads">
                                            <a href="#">HOT</a>
                                        </div>
                                    {% endif %}

                                    <div class="item-img-grid">
                                        {% if ad.img.exists %}
                                            <img alt=""
                                                 src="{{ ad.img.first.media.url }}"
                                                 class="img-responsive img-center ad_img">
                                        {% else %}
                                            <img alt=""
                                                 src="{% static 'internals/img/none_ad.png' %}"
                                                 class="img-responsive img-center ad_img">
                                        {% endif %}
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>{{ ad.title }}</h4>
                                            </a>
                                            <h3>{{ ad.price }} FCFA</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i>
                                                <span class="text-info">{% language 'fr' %}
                                                    {{ ad.creation_date|timesince_creation }} {% endlanguage %}</span>
                                            </li>
                                            <li class="item-cat"><i class="fa fa-glass"></i> <a
                                                    href="{% url 'ads:categories_grid' %}?category={{ ad.subcategory.sup_category.id }}">{{ ad.subcategory.sup_category.name }}</a> , <a
                                                    href="{% url 'ads:categories_grid' %}?category={{ ad.subcategory.sup_category.id }}&subcategories={{ ad.subcategory.id }}">{{ ad.subcategory.name }}</a></li>
                                            <li class="item-location"><a href="#"><i
                                                    class="fa fa-map-marker"></i>
                                                {{ ad.location.name }} </a></li>
                                            <li class="item-type"><i
                                                    class="fa fa-bookmark"></i> {{ ad.get_condition_display }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Products -->

    <!-- Categories List -->
    <section class="categories-list">
        <div class="container">
            <div class="row">
                {% for category in categories_t_1 %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget {{ category.widget }}">
                            <div class="widget-header">
                                <small>{{ category.id|ads_number }} {{ category.id|ads_number|pluralize:" Annonce, Annonces" }}</small>
                                <h1><i class="{{ category.icon }}"></i> {{ category.name }}</h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">

                                    {% for subcategory in category.subcategories.all|slice:":5" %}
                                        <li><a href="{% url 'ads:categories_grid' %}?category={{ category.id }}&subcategories={{ subcategory.id }}">{{ subcategory.name }} <span
                                                class="item-numbers">{{ subcategory.subcateg_ads.count }}</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for category in categories_t_2 %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget {{ category.widget }} margin-bottom-none">
                            <div class="widget-header">
                                <small>{{ category.id|ads_number }} {{ category.id|ads_number|pluralize:" Annonce, Annonces" }}</small>
                                <h1><i class="{{ category.icon }}"></i> {{ category.name }}</h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">
                                    {% for subcategory in category.subcategories.all|slice:":5" %}
                                        <li><a href="{% url 'ads:categories_grid' %}?category={{ category.id }}&subcategories={{ subcategory.id }}">{{ subcategory.name }} <span
                                                class="item-numbers">{{ subcategory.subcateg_ads.count }}</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Categories List -->

    <!-- App Store -->
    {% include 'static_content/app_store.html' %}
    <!-- End App Store -->
{% endblock content %}