{% extends 'registration/base_authentication.html' %}
{% load staticfiles %}
{% block authentication_title %}
    Politique de confidentialité
{% endblock authentication_title %}
{% block authentication_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Confidentialité</li>
{% endblock authentication_pagination %}
{% block authentication_content %}

    <!-- Privacy Policy -->
    <section class="privacy-policy">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="widget top-space margin-bottom-none">
                        <h3>Introduction</h3>
                        <p>1- La confidentialité des visiteurs de notre site Web est très importante pour nous et nous
                            nous engageons à la protéger. Cette politique explique ce que nous ferons avec vos
                            informations personnelles. <br>
                            2- Consentir à notre utilisation des cookies conformément aux termes de cette politique
                            lorsque vous visitez notre site Web pour la première fois, nous permet d'utiliser des
                            cookies à chaque fois que vous visitez notre site Web.
                        </p>
                        <p>&nbsp;</p>
                        <h3>Types d'informations que nous collectons</h3>
                        <p>Les types d'informations personnelles suivants peuvent être collectés, stockés et
                            utilisés:<br>

                            1- des informations sur votre ordinateur, y compris votre adresse IP, votre localisation
                            géographique, le type et la version du navigateur et le système d'exploitation;<br>
                            2 - les informations sur vos visites et votre utilisation de ce site Web, y compris la
                            source de
                            parrainage, la durée de la visite, les pages vues et les chemins de navigation du site Web;
                            les informations, telles que votre adresse électronique, que vous entrez lorsque vous vous
                            enregistrez sur notre site Web;<br>
                            3- les informations que vous entrez lorsque vous créez un profil sur notre site Web, par
                            exemple votre nom, vos photos de profil, votre sexe, votre date de naissance, le statut de
                            votre relation, vos intérêts et vos loisirs, vos informations pédagogiques et vos
                            informations sur l'emploi;<br>
                            4- les informations, telles que votre nom et votre adresse électronique, que vous entrez
                            afin
                            de configurer des abonnements à nos courriels et / ou lettres d'information;
                            les informations que vous entrez lorsque vous utilisez les services sur notre site Web;
                            les informations générées lors de l'utilisation de notre site Web, y compris quand, à quelle
                            fréquence et dans quelles circonstances vous les utilisez;<br>
                            5- les informations relatives à tout ce que vous achetez, aux services que vous utilisez ou
                            aux
                            transactions effectuées via notre site Web, y compris votre nom, votre adresse, votre numéro
                            de téléphone, votre adresse électronique et les détails de votre carte de crédit;<br>
                            6- les informations que vous publiez sur notre site Web dans l'intention de les publier sur
                            Internet, y compris votre nom d'utilisateur, vos photos de profil et le contenu de vos
                            publications;<br>
                            7- les informations contenues dans toute communication que vous nous envoyez par courrier
                            électronique ou par le biais de notre site Web, y compris son contenu et ses métadonnées de
                            communication;<br>
                            8- toute autre information personnelle que vous nous envoyez.
                            Avant de nous divulguer les informations personnelles d’une autre personne, vous devez
                            obtenir le consentement de cette personne pour la divulgation et le traitement de ces
                            informations conformément à la présente politique.</p>
                        <p>&nbsp;</p>
                        <h3>Utilisation de vos données personnelles</h3>
                        <p>Les informations personnelles qui nous sont transmises via notre site Web seront utilisées
                            aux fins spécifiées dans la présente politique ou sur les pages correspondantes du site Web.
                            Nous pouvons utiliser vos informations personnelles pour:

                            1- administrer notre site Web et notre entreprise; <br>
                            personnaliser notre site pour vous;
                            2- vous permettant d'utiliser les services disponibles sur notre site Web;<br>
                            vous envoyer des biens achetés via notre site Web;
                            3- fournir des services achetés sur notre site Web;<br>
                            4- vous envoyer des relevés, des factures et des rappels de paiement et collecter vos
                            paiements;<br>
                            5- vous envoyer des communications commerciales non marketing;
                            vous envoyer des notifications par courrier électronique que vous avez spécifiquement
                            demandées;
                            6- vous envoyer notre lettre d'information par courrier électronique, si vous en avez fait
                            la
                            demande (vous pouvez nous informer à tout moment si vous n'avez plus besoin de la lettre
                            d'information); <br>
                            7- vous envoyer des communications marketing relatives à notre entreprise ou à des
                            entreprises
                            de tiers soigneusement sélectionnés que nous pensons pouvoir vous intéresser, par la poste
                            ou, si vous y consentez expressément, par courrier électronique ou par une technologie
                            similaire (vous pouvez nous en informer à l'adresse à tout moment si vous n’avez plus besoin
                            de communication marketing);<br>
                            8- fournir à des tiers des informations statistiques sur nos utilisateurs (mais ces tiers ne
                            seront pas en mesure d'identifier un utilisateur individuel à partir de ces informations);
                            traiter les demandes de renseignements et les plaintes formulées par vous ou à votre sujet
                            concernant notre site Web;<br>
                            9- garder notre site Web sécurisé et prévenir la fraude;
                            vérification du respect des conditions générales régissant l'utilisation de notre site Web
                            (y compris la surveillance des messages privés envoyés via le service de messagerie privée
                            de notre site Web); et
                            autres utilisations.<br>
                            10- Si vous communiquez des informations personnelles pour publication sur notre site Web,
                            nous
                            les publierons et les utiliserons conformément à la licence que vous nous avez concédée.<br>
                            <br>
                            Vos paramètres de confidentialité peuvent être utilisés pour limiter la publication de vos
                            informations sur notre site Web et peuvent être ajustés à l'aide de contrôles de
                            confidentialité sur le site Web.<br><br>

                            Sans votre consentement explicite, nous ne fournirons vos informations personnelles à aucun
                            tiers pour leur marketing direct ou à celui de tout autre tiers.</p>
                        <p>&nbsp;</p>
                        <h3>Les enfants</h3>
                        <p>L'utilisation du site est interdits aux personnes agées de moins de 16 ans. Yerel n'est pas
                            responsable des contenues sensibles aux enfants. </p>
                        <p>&nbsp;</p>
                        <h3>Contact information</h3>
                        <p class="margin-bottom-none">
                            Pour des informations sur nos services, des suggestions ou des réclamations, vous pouvez
                            directement nous envoyé un mail à l'adresse electronique <strong>contact@yerel.co</strong> ou nous laisser un
                            message
                            <a href="{% url 'contact' %}">ici</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Privacy Policy -->

{% endblock %}