{% load staticfiles %}
<!-- App Store -->
<section class="app-store-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-7 pull-right">
                <header>
                    <h2><strong>TÉLÉCHARGER</strong> L'APPLI</h2>
                    <p>Avec notre application mobile, recevez des notifications directes de vos annonces préférées ...</p>
                </header>
                <div class="row inner app-icons">
                    <div class="col-xs-4">
                        <a href="#" class="app-store">
                            <img src=" {% static 'externals/images/android.png' %} " alt="Google play">
                            <span>télécharger sur</span>
                            <h4>Google Play</h4>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" class="app-store">
                            <img src="{% static 'externals/images/apple.png' %}" alt="Apple store">
                            <span>télécharger sur</span>
                            <h4>Apple Store</h4>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" class="app-store">
                            <img src="{% static 'externals/images/win.png' %}" alt="windows store">
                            <span>télécharger sur</span>
                            <h4>Windows Store</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-5 pull-right">
                <div class="action-mock">
                    <img src="{% static 'externals/images/app-mock.png' %}" alt="download apps">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End App Store -->