{% load ads_categories %}
{% categories_and_subcategories as categories_t %}
{% locations  as all_locations %}
<form action="{% url 'ads:categories_grid' %}" method="GET">
    <div class="col-md-4 col-sm-4 search-input">
        <input name="text_to_find" placeholder="Que recherchez-vous...?" class="form-control input-lg search-form" type="text">
    </div>
    <div class="col-md-3 col-sm-3 search-input">
        <select name="category" class="form-control input-lg search-form">
            <option selected="selected" value="all_categories">Toutes les categories</option>
            {% for category in categories_t %}
                <optgroup label="{{ category.name }}">
                    {% for subcategory in category.subcategories.all %}
                        <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
            <option value="other_categories"> Autres</option>
        </select>
    </div>
    <div class="col-md-3 col-sm-3 search-input">
        <select name="location" class="form-control input-lg search-form">
            <option selected="selected" value="all_locations">Tous les lieux</option>
            {% for location in all_locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
            <option value="other_locations">Autres Lieux</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-2 search-input">
        <button class="btn btn-primary btn-lg simple-btn btn-block">
            <i class="fa fa-search"></i> Rechercher
        </button>
    </div>
</form>