{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta property="og:site_name" content="Yerel">
    <meta property="og:title" content="Site de petites annonces totalement gratuit."/>
    <meta property="og:url" content="{% url 'index' %}"/>
    <meta property="og:description" content="Publier ou Rechercher tout. Pas besoin de compte"/>
    <meta property="og:image:secure_url" itemprop="image" content="{% static 'internals/img/1500X500_LARGE_og.png' %}">
    <meta property="og:type" content="website"/>
    <meta property="og:updated_time" content="1440432930"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:locale:alternate" content="es_ES"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site de petites annonces totalement gratuit. Pas besoin de compte.">
    <meta name="author" content="cheikh@cheikhkonteye.com">
    <title>Yerel annonces | Publier ou rechercher des annonces</title>

    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'externals/images/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'internals/img/LOGO-SEUL.png' %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'externals/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'externals/css/style.css' %}" rel="stylesheet">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'externals/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'externals/plugins/owl-carousel/owl.theme.css' %}">

    <!-- Font Awesome -->
    <link href="{% static 'externals/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'internals/css/general.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <!-- Cookies consent -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'internals/css/cookiesconsent.min.css' %}"/>
    <script src="{% static 'internals/js/cookiesconsent.min.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140083011-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140083011-1');
    </script>
    <!-- End - Google Analytics -->

    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    },
                },
                "content": {
                    "message": "Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, " +
                        "vous acceptez l’utilisation des cookies.",
                    "dismiss": "J'accepte",
                    "link": "En savoir plus",
                }
            })
        });
    </script>

    <!-- End cookies consent -->
</head>

<body>
<!-- Preloder -->
<div id="preloader"></div>
<!-- End Preloder -->
<noscript>
    <div class="alert alert-danger text-center">Ce site a besoin de JavaScript pour bien fonctionner.
        Vous prenez un risque en désactivant votre JavaScript.
    </div>
</noscript>
{% include "header_footer/header.html" %}
{% if user.info.activated_account == False %}
    <div class="alert alert-warning text-center">Votre compte n'est pas activé, veuillez cliquer sur le lien
        qui vous a été envoyé par mail ou renvoyer le <strong><a href="{% url 'regenerate_activation_link' %}">mail</a></strong>
    </div>
{% endif %}
{% block content %}{% endblock %}
{% include "header_footer/footer.html" %}
<!-- jQuery -->
<script src="{% static 'externals/js/jquery.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'externals/js/custom.js' %}"></script>

<!-- Bootstrap JavaScript -->
<script src="{% static 'externals/js/bootstrap.min.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'externals/plugins/owl-carousel/owl.carousel.js' %}"></script>
<!-- Filestyle -->

<script src="{% static 'externals/plugins/bootstrap-filestyle/bootstrap-filestyle.js' %}"></script>



{% block javascripts %}
{% endblock javascripts %}

</body>

</html>