{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Yerel | Page not found!</title>

	  <!-- Favicon Icon -->
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'externals/images/apple-icon.png' %}">
      <link rel="icon" type="image/png" href="{% static 'externals/images/favicon.png' %}">

	  <!-- Bootstrap CSS -->
      <link href="{% static 'externals/css/bootstrap.min.css' %}" rel="stylesheet">

	  <!-- Custom CSS -->
      <link href="{% static 'externals/css/style.css' %}" rel="stylesheet">

	  <!-- Owl Carousel -->
      <link rel="stylesheet" href="{% static 'externals/plugins/owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'externals/plugins/owl-carousel/owl.theme.css' %}">

	  <!-- Font Awesome -->
      <link href="{% static 'externals/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
   </head>
   <body>
    <!-- Not Found -->
      <section class="not-found">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-sm-offset-3 text-center">
                  <div class="error-page">
                     <h1 class="error"> 404 </h1>
                      Yërël
                     <h2>Page non trouvée</h2>
                     <div class="error-details">
                        Désolé, une erreur s'est produite.Page demandée non trouvée!
                     </div>
                     <form class="form-search">
                        <div class="form-group">
                           <input type="text" class="form-control found-search" placeholder="Recherche">
                        </div>
                        <a href="{% url 'index' %}" class="btn btn-default btn-large btn-lg">Accueil</a>
                        <button type="submit" class="btn btn-default btn-large btn-lg">Rechercher</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Not Found -->

	  <!-- jQuery -->
      <script src="{% static 'externals/js/jquery.js' %}"></script>

	  <!-- Custom js -->
      <script src="{% static 'externals/js/custom.js' %}"></script>

	  <!-- Bootstrap JavaScript -->
      <script src="{% static 'externals/js/bootstrap.min.js' %}"></script>

	  <!-- Owl Carousel -->
      <script src="{% static 'externals/plugins/owl-carousel/owl.carousel.js' %}"></script>
   </body>
</html>