{% extends "base_pricing.html" %}
{% block pricing_title %}
    Nos tarifs
{% endblock %}
{% block pricing_pagination %}
    <li> Tarifs</li>
{% endblock %}
{% block pricing_content %}
    <!-- pricing -->
    <section class="pricing-table">
        <div class="container">
            <p class="text-center" style="margin-bottom: 10px">Par défaut, vous disposez d'un compte
                <strong>Free</strong> où vous n'avez que <span class="text-danger">5 annonces</span> gratuites par mois.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default text-center basic-plan margin-bottom-none">
                        <div class="panel-heading">
                            <h3 class="panel-title">Normal</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">2000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 20&nbsp; Annonces gratuites par mois
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 6&nbsp; Annonces en vedette possibles<a
                                    href="#" data-toggle="tooltip" data-placement="top"
                                    title="Les annonces en vedette sont affichées en premier sur la page d'accueil et sont les plus visibles.">
                                &nbsp;<i class="fa fa-info-circle"></i></a>
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 5 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance !
                            </li>
                            <li class="list-group-item"><a href="{% url 'pricing:activation' 'NORMAL' %}" class="btn btn-primary"> Activer !</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary text-center advanced-plan margin-bottom-none">
                        <div class="panel-heading">
                            <h3 class="panel-title">Avancé</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">7000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 50&nbsp; Annonces gratuites par mois
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 10&nbsp; Annonces en vedette avec possibilité d'extension <a
                                    href="#" data-toggle="tooltip" data-placement="top"
                                    title="Les annonces en vedette sont affichées en premier sur la page d'accueil et sont les plus visibles. Vous pouvez augmenter le nombre d'annonces en vedette">
                                &nbsp;<i class="fa fa-info-circle"></i></a>
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 7 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance ! <a
                                    href="#" data-toggle="tooltip" data-placement="top"
                                    title="Vous aurez la possibilité de suivre votre annonce, améliorer sa visibilité, consulter le nombre de vue et plein d'autres choses.">
                                &nbsp;<i class="fa fa-info-circle"></i></a></li>
                            <li class="list-group-item"><a href="{% url 'pricing:activation' 'PROFESSIONAL' %}" class="btn btn-primary btn-lg">Activer !</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default text-center basic-plan">
                        <div class="panel-heading">
                            <h3 class="panel-title">Professionel</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">15000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> &nbsp; Annonces illimitées
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 20&nbsp;Annonces en vedette avec possibilité d'extension
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 7 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance !
                            </li>
                            <li class="list-group-item"><a href="{% url 'pricing:activation' 'ADVANCED' %}" class="btn btn-primary">Activer !</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End pricing -->
{% endblock %}