{% extends "base_pricing.html" %}
{% block pricing_title %}
    Nos tarifs
{% endblock %}
{% block pricing_pagination %}
    <li><a href="{% url 'pricing:pricing' %}"> Tarifs</a></li>
{% endblock %}
{% block pricing_content %}
    <!-- pricing -->
    <section class="pricing-table">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default text-center basic-plan margin-bottom-none">
                        <div class="panel-heading">
                            <h3 class="panel-title">Normal</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">2000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 20&nbsp; Annonces gratuites par mois
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 6&nbsp; Annonces en vedette possibles
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 5 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance !
                            </li>
                            <li class="list-group-item"><a href="#" class="btn btn-primary"> Activer !</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary text-center advanced-plan margin-bottom-none">
                        <div class="panel-heading">
                            <h3 class="panel-title">Avancé</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">7000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 50&nbsp; Annonces gratuites par mois
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 10&nbsp; Annonces en vedette avec possibilité d'extension
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 7 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance ! <a
                                    href="#" data-toggle="tooltip" data-placement="top"
                                    title="Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,">
                                &nbsp;<i class="fa fa-info-circle"></i></a></li>
                            <li class="list-group-item"><a href="#" class="btn btn-primary btn-lg">Activer !</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default text-center basic-plan">
                        <div class="panel-heading">
                            <h3 class="panel-title">Professionel</h3>
                        </div>
                        <div class="panel-body">
                            <div class="plan-price">
                                <div class="price-value">15000<span>.00</span></div>
                                <div class="interval">FCFA</div>
                                <div class="interval">par mois</div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> &nbsp; Annonces illimitées
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 20&nbsp;Annonces en vedette avec possibilité d'extension
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 7 Images par annonce
                            </li>
                            <li class="list-group-item"><i class="fa fa-check-square text-primary"></i> 100% Suivi et maintenance !
                            </li>
                            <li class="list-group-item"><a href="#" class="btn btn-primary">Activer !</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End pricing -->
{% endblock %}