{% extends 'base.html' %}
{% block content %}
    <!-- Breadcumb -->
    <section class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="breadcumb_section">
                        <div class="page_title">
                            <h3>
                                {% block showrooms_title %}
                                    Showroooms
                                {% endblock showrooms_title %}
                            </h3>
                        </div>
                        <div class="page_pagination">
                            <ul>
                                <li><a href="{% url 'showrooms:showrooms' %}">Showrooms</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                {% block showrooms_pagination %}
                                {% endblock showrooms_pagination %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcumb -->
    {% block showrooms_content %}
    {% endblock showrooms_content %}
{% endblock content %}
