{% extends 'registration/account/base_account.html' %}
{% load staticfiles %}
{% block account_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mon compte</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mes annonces</li>
{% endblock %}
{% block account_content %}
    <!-- My Ads -->
    <section class="my-ads">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="widget my-profile margin-bottom-none">
                        <div class="widget-header">
                            <h1>Mes Annonces</h1>
                        </div>
                        <div class="widget-body">
                            <table class="table table-design">
                                <tbody>
                                <tr>
                                    <td><img src="images/categories/real_estate/1.png" class="thumb-img img-responsive"
                                             alt=""></td>
                                    <td>
                                        <div class="my-item-title"><a target="_blank" href="single.html"><strong>Lorem
                                            Ipsum is simply</strong></a></div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                    Manchester</a></li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> Used</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><strong>$50</strong></td>
                                    <td>Active</td>
                                    <td>
                                        <div class="action">
                                            <a class="label label-success" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Edit Ad"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="label label-warning" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Disable"><i
                                                    class="fa fa-close"></i></a>
                                            <a class="label label-info" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="View Ad"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="label label-danger" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Delete"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="images/categories/cars/4.png" class="thumb-img img-responsive" alt="">
                                    </td>
                                    <td>
                                        <div class="my-item-title">
                                            <a target="_blank" href="single.html"><strong>Lorem Ipsum is simply</strong></a>
                                        </div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                    Manchester</a></li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><strong>$300</strong></td>
                                    <td>Active</td>
                                    <td>
                                        <div class="action">
                                            <a class="label label-success" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Edit Ad"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="label label-warning" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Disable"><i
                                                    class="fa fa-close"></i></a>
                                            <a class="label label-info" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="View Ad"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="label label-danger" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Delete"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="images/categories/hotels/1.png" class="thumb-img img-responsive"
                                             alt=""></td>
                                    <td>
                                        <div class="my-item-title"><a target="_blank" href="single.html"><strong>Lorem
                                            Ipsum is simply</strong></a></div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                    Manchester</a></li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> Used</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><strong>$50</strong></td>
                                    <td>Active</td>
                                    <td>
                                        <div class="action">
                                            <a class="label label-success" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Edit Ad"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="label label-warning" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Disable"><i
                                                    class="fa fa-close"></i></a>
                                            <a class="label label-info" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="View Ad"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="label label-danger" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Delete"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="images/categories/restaurant/4.png" class="thumb-img img-responsive"
                                             alt=""></td>
                                    <td>
                                        <div class="my-item-title">
                                            <a target="_blank" href="single.html"><strong>Lorem Ipsum is simply</strong></a>
                                        </div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                    Manchester</a></li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><strong>$300</strong></td>
                                    <td>Active</td>
                                    <td>
                                        <div class="action">
                                            <a class="label label-success" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Edit Ad"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="label label-warning" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Disable"><i
                                                    class="fa fa-close"></i></a>
                                            <a class="label label-info" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="View Ad"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="label label-danger" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Delete"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="images/categories/real_estate/1.png" class="thumb-img img-responsive"
                                             alt=""></td>
                                    <td>
                                        <div class="my-item-title"><a target="_blank" href="single.html"><strong>Lorem
                                            Ipsum is simply</strong></a></div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                    Manchester</a></li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> Used</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><strong>$50</strong></td>
                                    <td>Active</td>
                                    <td>
                                        <div class="action">
                                            <a class="label label-success" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Edit Ad"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="label label-warning" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Disable"><i
                                                    class="fa fa-close"></i></a>
                                            <a class="label label-info" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="View Ad"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="label label-danger" title="" data-placement="top"
                                               data-toggle="tooltip" href="#" data-original-title="Delete"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End My Ads -->
{% endblock %}