{% extends 'registration/account/base_account.html' %}
{% load i18n %}
{% load staticfiles %}

{% block account_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mon compte</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mes annonces</li>
{% endblock %}


{% block deleteConfirmation %}

{% endblock deleteConfirmation %}
    

{% block account_content %}
    <!-- My Ads -->
    <section class="my-ads">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="widget my-profile margin-bottom-none">
                        <div class="widget-header">
                            <h1>Mes Annonces</h1>
                            {% if ad %} <h2>{{ ad.title }}</h2> {% endif %}
                        </div>
                        <div class="widget-body">
                            <table class="table table-design">
                                <tbody>
                                    {% for ad in ads %}
                                        <tr>
                                                <td><img src="{{ ad.img.first.media.url }}" class="thumb-img img-responsive"
                                                         alt=""></td>
                                                <td>
                                                    <div class="my-item-title"><a target="_blank" href="{% url 'ads:single_item' ad.random_url.hex %}"><strong>
                                                          {{ ad.title }}</strong></a></div>
                                                    <div class="item-meta">
                                                        <ul>
                                                            <li class="item-date"><i class="fa fa-clock-o"></i> {% language 'fr' %}
                                                                {{ ad.creation_date }} {% endlanguage %}</li>
                                                            <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                                {{ ad.location.name }}</a></li>
                                                            <li class="item-type"><i class="fa fa-bookmark"></i> {{ ad.condition }}</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td><strong>{{ ad.price }}<i>F</i></strong></td>
                                                <td> {% if ad.is_active %}Active {% else %} Pas active {% endif %}</td>
                                                <td>
                                                    <div class="action">
                                                        <a class="label label-success" title="" data-placement="top"
                                                           data-toggle="tooltip" href="#" data-original-title="Editer l'annonce"><i
                                                                class="fa fa-pencil"></i></a>
                                                            {% if ad.is_active %}
                                                        <a class="label label-warning" title="" data-placement="top"
                                                           data-toggle="tooltip" href="#" data-original-title="Desactive"><i
                                                                class="fa fa-close"></i></a>
                                                            {% else %}
                                                        <a class="label label-warning " title="" data-placement="top"
                                                        data-toggle="tooltip" href="#" data-original-title="Active"><i
                                                                class="fa fa-check"></i></a>
                                                            {% endif %}
                                                        <a class="label label-info" title="" data-placement="top"
                                                           data-toggle="tooltip" href="{% url 'ads:single_item' ad.random_url.hex %}" data-original-title="Voir l'annonce"><i
                                                                class="fa fa-eye"></i></a>
                                                        <a class="label label-danger" title="" data-placement="top"
                                                           data-toggle="tooltip" href="#" data-original-title="Supprimer"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                        </tr>
                                      {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="?page=2">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End My Ads -->
{% endblock %}