{% extends 'registration/account/base_account.html' %}
{% load i18n %}
{% load staticfiles %}
{% block account_pagination %}
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mon compte</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>Mes annonces</li>
{% endblock %}


{% block deleteConfirmation %}
{% if delete_confirmation  %}
    <br>
    <div>
        <div class="alert alert-warning text-center">
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group text-center">
                    <h3 >Voulez-vous vraiment supprimer cette annonce?</h3>
                    <button type="submit" name='validation' value='Confirmer' 
                            class="btn btn-success" style="margin:10px">
                        <i class="fa fa-check" ></i>
                        Confirmer
                    </button>
                    <button type="submit" name='validation' value='Annuler' 
                                class="btn btn-danger">
                            <i class="fa fa-close"></i>
                            Annuler
                    </button> 
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock deleteConfirmation %}
    

{% block account_content %}
 <!-- My Ads --> 
<section class="my-ads">
    {% include 'ads/myAds.html' %}
</section>
<!-- End My Ads -->
  
{% endblock %}

{% block javascripts %}
    <!-- <script>
            $(function(){
                var current = location.pathname;
                $('.pagination li a').each(function(){
                    var $this = $(this);
                    // if the current path is like this link, make it active
                    if($this.attr('href').indexOf(current) !== -1){
                        $this.addClass('active');
                    }
                })
            }) ; 
    </script>
     -->
     <script>
        $(document).ready(function (e) {
            $(document).on('click', "#paginate", function (e) {
                e.preventDefault();
                var pk = $(this).attr('value');
                var ads_section = $('#my_ads_section');
                $.ajax({
                    type: 'POST',
                    url: '?page='+pk,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {'page': pk},
                    dataType: 'json',
                    success: function (response) {
                        ads_section.html(response['form'])
                    },
                    error: function (rs, e) {
                        alert("Une erreur est survenue");
                        console.log(rs.responseText)
                    }
                });
            });
            $(document).on('click', '#status', function(e){
                e.preventDefault();
                var pk = $(this).attr('value');
                var ads_section = $("#my_ads_section");
                $.ajax({
                    type: 'POST',
                    url : "{% url 'ads:ad_status' %}",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {'id': pk},
                    dataType: 'json',
                    success: function (response) {
                        ads_section.html(response['form'])
                    },
                    error: function (rs, e) {
                        alert("Une erreur est survenue");
                        console.log(rs.responseText)
                    }

                });
            });
        });
     </script>
{% endblock javascripts %}
    
