{% load i18n %}
<div id="my_ads_section" class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="widget my-profile margin-bottom-none">
                <div class="widget-header">
                    <h1>Mes Annonces</h1>
                </div>
                <div class="widget-body">
                    <table class="table table-design">
                        <tbody>
                        {% for ad in ads %}
                            <tr>
                                <td><img src="{{ ad.img.first.media.url }}" class="thumb-img img-responsive"
                                         alt=""></td>
                                <td>
                                    <div class="my-item-title"><a target="_blank"
                                                                  href="{% url 'ads:single_item' ad.random_url.hex %}"><strong>
                                        {{ ad.title }}</strong></a></div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> {% language 'fr' %}
                                                {{ ad.creation_date }} {% endlanguage %}</li>
                                            <li class="item-location"><a href="#"><i class="fa fa-map-marker"></i>
                                                {{ ad.location.name }}</a></li>
                                            <li class="item-type"><i
                                                    class="fa fa-bookmark"></i> {{ ad.get_condition_display }}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td><strong>{{ ad.price }}<i>F</i></strong></td>
                                <td> {% if ad.is_active %} Active {% else %} Inactive {% endif %}</td>
                                <td>
                                    <div class="action">
                                        <a class="label label-success" data-placement="top"
                                           data-toggle="tooltip" href="{% url 'ads:update_ad' ad.random_url.hex %}"
                                           title="Editer l'annonce"><i
                                                class="fa fa-pencil"></i></a>
                                        {% if ad.is_active %}
                                            <button value="{{ ad.id }}" class="label label-warning status"
                                                    title="Desactiver" data-placement="top"
                                                    data-toggle="tooltip"
                                                    data-original-title=""><i
                                                    class="fa fa-close"></i></button>
                                        {% else %}
                                            <button value="{{ ad.id }}" class="label label-warning status"
                                                    title="Activer" data-placement="top"
                                                    data-toggle="tooltip"
                                                    data-original-title=""><i
                                                    class="fa fa-check"></i></button>
                                        {% endif %}
                                        <a class="label label-info" data-placement="top"
                                           data-toggle="tooltip"
                                           href="{% url 'ads:single_item' ad.random_url.hex %}"
                                           title="Voir l'annonce"><i
                                                class="fa fa-eye"></i></a>
                                        <button type="button" data-value="{{ ad.id }}" value="{{ ad.title }}"
                                                class="label label-danger delete_ad"
                                                data-placement="top"
                                                data-toggle="tooltip" title="Supprimer"><i
                                                class="fa fa-trash"></i>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <form method="POST"></form>
                        {% csrf_token %}
                        {% if ads.has_other_pages %}
                            <ul class="pagination pagination-sm">
                                {% if ads.has_previous %}
                                    <li><a class="paginate" id="" data-value='{{ ads.previous_page_number }}'
                                           href="?page={{ ads.previous_page_number }}">«</a></li>
                                {% else %}
                                    <li style="display:none"><a></a></li>
                                {% endif %}

                                {% for num in ads.paginator.page_range %}
                                    {% if ads.number == num %}
                                        <li class="active"><a class="paginate" data-value="{{ num }}"
                                                              href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num > ads.number|add:'-3' and num < ads.number|add:'3' %}
                                        <li><a class="paginate" data-value="{{ num }}"
                                               href="?page={{ num }}"> {{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if ads.has_next %}
                                    <li><a class="paginate" data-value="{{ ads.next_page_number }}"
                                           href="?page={{ ads.next_page_number }}">»</a>
                                    <li>
                                        {% else %}
                                    <li style="display:none"><a></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>