{% extends 'base.html' %}
{% load staticfiles ads_categories_number featured_ads %}
{% load i18n %}
{% block content %}
    <!-- Categories Page Search-->
    <section class="categories-page-search">
        <div class="container">
            <div class="row">
                <div class="main-search-box text-center">
                    {% include 'static_content/search_form.html' %}
                </div>
            </div>
            <div class="row">
                <!-- Categories Page Nav -->
                <div class="all-categories-nav">
                    {% for category in categories_t %}
                        <a href="#{{ category.name }}">
                            <i class="{{ category.icon }}"></i>
                            <p>{{ category.name }}
                                <small>{{ category.id|ads_number }} Annonces</small>
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <!-- End Categories Page Nav -->
            </div>
        </div>
    </section>
    <!-- End Categories Page Search-->

    <!-- Categories List Page -->
    <section class="categories-list main-categories-list">
        <div class="container">
            {% for category in categories_t %}
                <div id="{{ category.name }}" class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widget {{ category.widget }}">
                            <div class="widget-header">
                                <small>{{ category.id|ads_number }} Annonces</small>
                                <h1><i class="{{ category.icon }}"></i> {{ category.name }}</h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">
                                    {% for subcategory in category.subcategories.all|slice:'5' %}
                                        <li><a href="#">{{ subcategory.name }} <span
                                                class="item-numbers">{{ subcategory.subcateg_ads.count }}</span></a>
                                        </li>
                                    {% endfor %}
                                    <li><a href="#">Autres<span class="item-numbers">0</span></a></li>
                                    <li>&ensp;</li>
                                    <li>&ensp;</li>
                                    <li>&ensp;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <div class="single-categorie">
                            <div id="owl-carousel-featured" class="owl-carousel categories-list-page">
                                {% featured category.id as featured_ads %}
                                {% for ad in featured_ads %}
                                    <div class="item">
                                        <div class="item-ads-grid {{ category.icon_ads }}">
                                            <div class="item-img-grid">
                                                {% if ad.img.exists %}
                                                 <img alt=""
                                                     src="{{ ad.img.first.media.url }}"
                                                     class="img-responsive img-center ad_img">
                                                {% else %}
                                                    <img alt=""
                                                     src="{% static 'internals/img/none_ad.png' %}"
                                                     class="img-responsive img-center">
                                                {% endif %}
                                                <div class="item-title">
                                                    <a href="{% url 'ads:single_item' ad.random_url.hex %}">
                                                        <h4>{{ ad.title }}</h4>
                                                    </a>
                                                    <h3>{{ ad.price }} FCFA</h3>
                                                </div>
                                            </div>
                                            <div class="item-meta">
                                                <ul>
                                                    <li class="item-date"><i class="fa fa-clock-o"></i>
                                                        {% language 'fr' %}
                                                            {{ ad.creation_date }} {% endlanguage %}</li>
                                                    <li class="item-cat"><i class="fa fa-glass"></i> <a
                                                            href="#">{{ ad.subcategory.sup_category.name }}</a> , <a href="#">{{ ad.subcategory.name }}</a></li>
                                                    <li class="item-location"><a href="#"><i
                                                            class="fa fa-map-marker"></i>
                                                        {{ ad.location.name }} </a></li>
                                                    <li class="item-type"><i class="fa fa-bookmark"></i> {{ ad.get_condition_display }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
    <!-- End Categories List Page -->
{% endblock content %}