{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n ads_categories %}
{% block content %}
    <!-- Categories Page Search-->
    <section class="categories-page-search">
        <div class="container">
            <div class="row">
                <div class="main-search-box text-center">
                    {% include 'static_content/search_form.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="breadcumb_section search_breadcumb">
                        <div class="page_pagination">
                            <ul>
                                <li><a href="{% url 'index' %}">Accueil</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li><a href="{% url 'ads:categories' %}">Categories</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Grille des Catégories</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Categories Page Search-->
    <!-- Category Grid -->
    <section class="category-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="listing-actions clearfix row">
                        <div class="tags col-md-6 text-left">
                            <span>Car Parts <a href="#"><i class="fa fa-close"></i></a></span>
                            <span>Cars <a href="#"><i class="fa fa-close"></i></a></span>
                            <span>Clear All <a href="#"><i class="fa fa-close"></i></a></span>
                        </div>
                        <ul class="listing-actions-nav col-md-6 text-right">
                            <!--<li><a class="layout-action" title="" data-placement="top" data-toggle="tooltip" href="category-list.html" data-original-title="List layout"><i class="fa fa-bars"></i></a></li>
                               <li><a class="layout-action active" title="" data-placement="top" data-toggle="tooltip" href="category-grid.html" data-original-title="Grid layout"><i class="fa fa-th"></i></a></li> -->
                            <li class="dropdown">
                                <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-filter"></i> Recently Published <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Price Low to High</a></li>
                                    <li><a href="#">Price High to Low</a></li>
                                    <li><a href="#">Price High to Low</a></li>
                                    <li><a href="#">Recently Published</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-filter"></i> All Type <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">New</a></li>
                                    <li><a href="#">Used</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="listing-filters">
                        <div class="widget listing-filter-block filter-categories">
                            <div class="widget-header">
                                <h1>Categories</h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">
                                    {% for category in categories_t %}
                                        <li>
                                            <a href="#">
                                                <i class="{{ category.icon }}"></i>
                                                <p>{{ category.name }}
                                                    <small>{{ category.id|ads_number }} {{ category.id|ads_number|pluralize:" Annonce, Annonces" }} </small>
                                                </p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="widget listing-filter-block">
                            <div class="widget-header">
                                <h1>Cars</h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">
                                                Car Parts
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox2" type="checkbox" checked="">
                                            <label for="checkbox2">
                                                Cars
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3">
                                                Motobikes
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">
                                                Wanted
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox5" type="checkbox" checked="">
                                            <label for="checkbox5">
                                                Rentacar
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3">
                                                Motobikes
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget listing-filter-block">
                            <div class="widget-header">
                                <h1>Condition </h1>
                            </div>
                            <div class="widget-body">
                                <ul class="trends">
                                    <li>
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline"
                                                   checked="">
                                            <label for="inlineRadio1"> Brand New </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" id="inlineRadio2" value="option1" name="radioInline"
                                                   checked="">
                                            <label for="inlineRadio2"> Used </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget listing-filter-block">
                            <div class="widget-header">
                                <h1>Price Range</h1>
                            </div>
                            <div class="widget-body">
                                <div class="range-widget">
                                    <div class="form-group">
                                        <div class="range-inputs row">
                                            <div class="col-md-6"><input class="form-control border-form" type="text"
                                                                         placeholder="From"></div>
                                            <div class="col-md-6"><input class="form-control border-form" type="text"
                                                                         placeholder="To"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block" type="submit"><i
                                                class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget listing-filter-block margin-bottom-none">
                            <div class="widget-header">
                                <h1>Tendances </h1>
                            </div>
                            <div class="widget-body">
                                <div class="similar-ads">
                                    <a href="single.html">
                                        <div class="similar-ad-left">
                                            <img class="img-responsive img-center"
                                                 src="{% static 'externals/images/categories/restaurant/1.png' %}"
                                                 alt="">
                                        </div>
                                        <div class="similar-ad-right">
                                            <h4>Duis autem vel eum iriure do hen...</h4>
                                            <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i>
                                                Buffalo </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="similar-ads">
                                    <a href="single.html">
                                        <div class="similar-ad-left">
                                            <img class="img-responsive img-center"
                                                 src="{% static 'externals/images/categories/pets/1.png' %}"
                                                 alt="">
                                        </div>
                                        <div class="similar-ad-right">
                                            <h4>Duis autem vel eum iriure do hen...</h4>
                                            <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i>
                                                Buffalo </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="similar-ads">
                                    <a href="single.html">
                                        <div class="similar-ad-left">
                                            <img class="img-responsive img-center"
                                                 src="{% static 'externals/images/categories/real_estate/2.png' %}"
                                                 alt="">
                                        </div>
                                        <div class="similar-ad-right">
                                            <h4>Duis autem vel eum iriure do hen...</h4>
                                            <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i>
                                                Buffalo </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="item-ads-grid icon-orange">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/hotels/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Passage of Lorem Ipsum</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                            <li class="item-cat"><i class="fa fa-building-o"></i> <a
                                                    href="categories2.html">Hotels</a> , <a href="categories2.html">Events
                                                & Nightlife</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Fairbanks</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-blue">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/restaurant/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>There are many variations</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                            <li class="item-cat"><i class="fa fa-glass"></i> <a href="categories2.html">Restaurant</a>
                                                , <a href="categories2.html">Cafe</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Buffalo </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-green">
                                    <div class="item-badge-grid hot-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/real_estate/2.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Lorem Ipsum is simply</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                            <li class="item-cat"><i class="fa fa-home"></i> <a href="categories2.html">Real
                                                Estate</a> , <a href="categories2.html">For Rent</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Frederick </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-brown">
                                    <div class="item-badge-grid premium-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/cars/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>It is a long established</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 03.15 AM</li>
                                            <li class="item-cat"><i class="fa fa-car"></i> <a href="categories2.html">Cars</a>
                                                , <a href="categories2.html">Car Parts</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Augusta </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="item-ads-grid icon-violet">
                                    <div class="item-badge-grid btn-primary">
                                        <a href="#">Premium Ad</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/shopping/4.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Passage of Lorem Ipsum </h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 11.45 PM</li>
                                            <li class="item-cat"><i class="fa fa-shopping-cart"></i> <a
                                                    href="categories2.html">Shopping</a> , <a href="categories2.html">Accessories</a>
                                            </li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> San Diego </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-dark-blue">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/job/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Lorem Ipsum is simply</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 09.45 PM</li>
                                            <li class="item-cat"><i class="fa fa-briefcase"></i> <a
                                                    href="categories2.html">Job</a> , <a
                                                    href="categories2.html">Banking</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Juneau</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-orange">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/hotels/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Passage of Lorem Ipsum</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                            <li class="item-cat"><i class="fa fa-building-o"></i> <a
                                                    href="categories2.html">Hotels</a> , <a href="categories2.html">Events
                                                & Nightlife</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Fairbanks</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-light-green">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/pets/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Lorem Ipsum is simply</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                            <li class="item-cat"><i class="fa fa-bars"></i> <a href="categories2.html">Pets</a>
                                                , <a href="categories2.html">Dogs</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Manchester</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="item-ads-grid icon-orange">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/hotels/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Passage of Lorem Ipsum</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 02.05 AM</li>
                                            <li class="item-cat"><i class="fa fa-building-o"></i> <a
                                                    href="categories2.html">Hotels</a> , <a href="categories2.html">Events
                                                & Nightlife</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Fairbanks</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-light-blue">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/services/2.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>There are many variations</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 12.09 PM</li>
                                            <li class="item-cat"><i class="fa fa-star"></i> <a href="categories2.html">Services</a>
                                                , <a href="categories2.html">Computers</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Fort Smith </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-light-green">
                                    <div class="item-badge-grid featured-ads">
                                        <a href="#">HOT</a>
                                    </div>
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/pets/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>Lorem Ipsum is simply</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                            <li class="item-cat"><i class="fa fa-bars"></i> <a href="categories2.html">Pets</a>
                                                , <a href="categories2.html">Dogs</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Manchester</a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-ads-grid icon-blue">
                                    <div class="item-img-grid">
                                        <img alt="" src="{% static 'externals/images/categories/restaurant/1.png' %}"
                                             class="img-responsive img-center">
                                        <div class="item-title">
                                            <a href="single.html">
                                                <h4>There are many variations</h4>
                                            </a>
                                            <h3>$ 64.5000</h3>
                                        </div>
                                    </div>
                                    <div class="item-meta">
                                        <ul>
                                            <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 AM</li>
                                            <li class="item-cat"><i class="fa fa-glass"></i> <a href="categories2.html">Restaurant</a>
                                                , <a href="categories2.html">Cafe</a></li>
                                            <li class="item-location"><a href="categories2.html"><i
                                                    class="fa fa-map-marker"></i> Buffalo </a></li>
                                            <li class="item-type"><i class="fa fa-bookmark"></i> New</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary btn-load-more btn-lg" href="#"> CHARGER PLUS D'ANNONCES... </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Category Grid -->
{% endblock %}