{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col border rounded bg-light mt-5" id="section-password-reset-reset">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Reset your password</h3>
                {% if successMessage %}
                    <div class="alert alert-success">{{successMessage}}</div>
                {% endif %}
                {% if errorMessage %}
                    <div class="alert alert-danger">{{errorMessage}}</div>
                {% endif %}
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row mt-1">
                        <div class="col-sm">
                            <label for="password1">New password</label>
                            <input v-model="password1" class="form-control" id="password1" type="password" name="password1">
                            <i class="text-danger">[[error1]]</i>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-sm">
                            <label for="password2">Repeat new password</label>
                            <input v-model="password2" class="form-control" id="password2" type="password" name="password2">
                            <i class="text-danger">[[error2]]</i>
                        </div>
                    </div>
                    <div class="form-row mt-3 pb-4">
                        <div class="col-sm">
                            <button v-on:click="validateResetReset" type="submit" class="btn btn-success w-100">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: "#section-password-reset-reset",
            data: {
                password1: "",
                password2: "",
                error1: "",
                error2: ""            },
            methods: {
                validateResetReset: function(event){
                    if((this.password1) && (this.password1 === this.password2)){
                        if(this.password1.length < 5){
                            this.error1 = " the new password is too short (5 chars)"
                        }
                        else return true
                    }
                    if(this.password1 !== this.password2)
                        this.error2 = "passwords are not the same"
                    if(this.password1 == ''){
                        this.error1 = "this field cannot be empty"
                        this.error2 = this.error1
                    }
                    event.preventDefault();
                }
            },
            watch: {
                password1: function(val){
                    this.error1 = ""
                },
                password2: function(val){
                    this.error1 = ""
                }
            }

        });
    </script>
{% endblock javascripts %}
