{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    {% if successMessage %}
        <div class="col"></div>
        <div class="col-6">
            <div class="alert alert-success">
                <h3>{% trans "Check your inbox" %}.</h3>
                <p>{% trans "We've emailed you instructions for setting your password. You should receive the email shortly" %}!</p>
            </div>
        </div>
        <div class="col"></div>
    {% else %}
        <div class="col"></div>
        <div class="col-8 border rounded bg-light mt-5" id="section-password-reset">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">{% trans "Resquest to reset password" %}</h3>
                    {% if errorMessage %}
                        <div class="alert alert-danger">{% trans "it seems:" %} {{errorMessage}}</div>
                    {% endif %}
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row my-1"> 
                            <div class="col-sm col-lg-8 mx-auto">
                                <label for="email-reset">{% trans "Enter your email" %}</label>
                                <input v-model="email" class="form-control" id="email-reset" type="text" name="email">
                                <i class="text-danger">[[error]]</i>
                            </div>
                        </div>
                        <div class="form-row"> 
                            <div class="col-sm col-lg-8 mx-auto">
                                <label for="secret">{% trans "Enter your secret key" %}</label>
                                <input type="password" v-model="secret" class="form-control" id="secret" type="text" name="secret">
                                <span style="font-size: 0.7rem;" class="text-muted">{% trans "Ask to the administrator if you forgot it" %}</span><br>
                                <i class="text-danger">[[error1]]</i>
                            </div>
                        </div>
                        <div class="form-row mt-3 pb-4">
                            <div class="col-sm col-lg-8 mx-auto">
                                <button v-on:click="validateReset" type="submit" class="btn btn-success w-100">{% trans "Send" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <div class="col"></div>
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: "#section-password-reset",
            data: {
                email: "",
                secret: "",
                error: "",
                error1: ""
            },
            methods: {
                validateReset: function(event){
                    if(this.email && validEmail(this.email) && this.secret){
                        return true
                    }
                    if(!validEmail(this.email))
                        this.error = "{% trans "this email is not valid" %}"
                    if(this.email === '')
                        this.error = "{% trans "this field should not be empty" %}"
                    if(this.secret === '')
                        this.error1 = "{% trans "this field should not be empty" %}"
                    event.preventDefault();
                }
            },
            watch: {
                email: function(val){
                    this.error = ""
                }
            }

        });
    </script>
{% endblock javascripts %}
