{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col col-sm-6 col-md-8 col-lg-6 border rounded bg-light mt-5 mx-3 mx-sm-auto" id="section-password-change">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">{% trans "Change password" %}</h3>
                {% if successMessage %}
                    <div class="alert alert-success">{{successMessage}}</div>
                {% endif %}
                {% if errorMessage %}
                    <div class="alert alert-danger">{{errorMessage}}</div>
                {% endif %}
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row mt-1"> 
                        <div class="col-sm">
                            <label for="oldpassword">{% trans "Current password" %}</label>
                            <input v-model="oldpassword" class="form-control" id="oldpassword" type="password" name="oldpassword">
                            <i class="text-danger">[[error1]]</i>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-sm">
                            <label for="password1">{% trans "New password" %}</label>
                            <input v-model="password1" class="form-control" id="password1" type="password" name="password1">
                            <i class="text-danger">[[error2]]</i>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-sm">
                            <label for="password2">{% trans "Repeat new password" %}</label>
                            <input v-model="password2" class="form-control" id="password2" type="password" name="password2">
                            <i class="text-danger">[[error3]]</i>
                        </div>
                    </div>
                    <div class="form-row mt-3 pb-4">
                        <div class="col-sm">
                            <button v-on:click="validateChange" type="submit" class="btn btn-success w-100">{% trans "Change" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: "#section-password-change",
            data: {
                oldpassword: "",
                password1: "",
                password2: "",
                error1: "",
                error2: "",
                error3: ""
            },
            methods: {
                validateChange: function(event){
                    if((this.oldpassword && this.password1 && this.password2) && this.password1 == this.password2){
                        if(this.password1.length < 5){
                            this.error2 = " {% trans "The new password is too short (5chars)" %}"
                        }
                        else return true
                    }
                    if(this.oldpassword == this.password1)
                        this.error2 = "{% trans "new and old password should not be the same" %}"
                    if(this.password1 != this.password2)
                        this.error3 = "{% trans "passwords are not the same" %}"
                    if(this.oldpassword == '')
                        this.error1 = "{% trans "current password cannot be empty" %}"
                    if(this.password1 == '')
                        this.error2 = "{% trans "this field cannot be empty " %}"
                    event.preventDefault();
                }
            },
            watch: {
                oldpassword: function(val){
                    this.error1 = ""
                },
                password1: function(val){
                    this.error2 = ""
                },
                password2: function(val){
                    this.error3 = ""
                }
            }

        });
    </script>
{% endblock javascripts %}
