.payment-img {
    width: 20%;
    height: 120px;
}

.loader {
    border-top: 16px solid #4f25ab;
    border-bottom: 16px solid #4f25ab;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}

.logo {
    margin-top: -10px;
    height: 55px;
    width: 150px;
}
@media only screen and (min-width : 320px) {
    .ad_img{
        height: 280px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .ad_img{
        height: 260px;

    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .ad_img{


    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ad_img{
        height: 120px;

    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .ad_img{
        height: 270px;
    }

}