{% extends 'registration/account/base_account.html' %}
{% load staticfiles %}

{% block account_pagination %}
<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Accueil</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li>Mon compte</li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li>Paramètres</li>
{% endblock account_pagination %}

{% block account_content %}
<div class="col-sm-6">
    <div class="widget my-profile margin-bottom-none">
        <div class="widget-header">
            <h1>Mom Compte</h1>
        </div>
        <div class="widget-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nom d'utilisateur <span class="required">*</span></label>
                            <input class="form-control border-form" type="text" value="{{user.username|title}}" placeholder="John Doe"
                                disabled="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Adresse Email <span class="required">*</span></label>
                            <input class="form-control border-form" type="email" value="{{user.email}}"
                                disabled="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Prénom <span class="required">*</span></label>
                            <input name class="form-control border-form" type="text" placeholder="{{user.first_name}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nom <span class="required">*</span></label>
                            <input class="form-control border-form" type="text" placeholder="{{user.last_name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Numéro de téléphone <span class="required">*</span></label>
                    <div class="input-group">
                        <span class="input-group-addon">+221</span>
                        <input type="text" class="form-control border-form" required="required" placeholder="{{user.user_info.phone_number}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Adresse <span class="required">*</span></label>
                    <input class="form-control border-form" type="text" placeholder="{{user.user_info.address}}">
                </div>
                <div class="form-group">
                    <label class="control-label">Avatar</label>
                    <input type="file" class="filestyle">
                    <span class="help-block"></span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Mot de passe <span class="required">*</span></label>
                            <input class="form-control border-form" type="password" placeholder="Entrer mot de passe">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Confirmer mot de passe <span class="required">*</span></label>
                            <input class="form-control border-form" type="password" placeholder="Entrer mot de passe">
                        </div>
                    </div>
                </div>
                <div class="form-group margin-bottom-none">
                    <div class="text-right">
                        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Mettre
                            à jour</button>
                        <button class="btn btn-danger" type="submit"><i class="fa fa-close"></i> Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="widget listing-filter-block margin-bottom-none">
        <div class="widget-header">
            <h1>Trending Ads </h1>
        </div>
        <div class="widget-body">
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/restaurant/1.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/pets/1.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/real_estate/2.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/cars/1.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/job/1.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="similar-ads">
                <a href="single.html">
                    <div class="similar-ad-left">
                        <img class="img-responsive img-center" src="images/categories/real_estate/2.png" alt="">
                    </div>
                    <div class="similar-ad-right">
                        <h4>Duis autem vel eum iriure do hen...</h4>
                        <p><i class="fa fa-dollar"></i> 450 - <i class="fa fa-map-marker"></i> Buffalo </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock account_content %}